.main{
    display: flex;
    text-align: justify;
    border: solid 4px darkblue;
    padding: 5px;
}

.user_details{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.users{
    width: 50%;
    margin-left: 100px;
}